// .swcrc
{
    "$schema": "https://json.schemastore.org/swcrc",
    "sourceMaps": true,
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "dynamicImport": true
        },
        "baseUrl": "./",
        // これがないとimport "src/..."が動かない
        "paths": {
            "*": [
                "*"
            ]
        }
    },
    "minify": false
}